.tt1{
    font-weight: bold;
}
.text-bold{
    font-weight: bold;
}
.product-div{
    width: 400px;
    margin: 30px;
}
.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-img{
    width: 400px;
    height: 300px;
}
.navbar{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    flex-direction: row;
    width: 100%;
}

.footercontainer{
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    padding: 0 10%;
}
.footeritem{
    width: 25%;
}
.menu-a{
   margin: 10px;
}

.product-detail-container{
    display: flex;
    margin: 60px 0;
    padding: 0 10%;
}
.product-display{
    width: 70%;
}
.detail-display{
    width: 30%;
    padding: 0 3%;
}
.text-align{   
    text-align: center;
}
.product-detail-img{
    width: 80%;
}     
select{
    width: 100px;
    font-size: 15px;
}
button{
    width: 150px;
    height: 100px;
    background-color: lightgrey;
    border-radius: 30%;
}