.tt1{
    font-weight: bold;
    color: red;
}
.text-bold{
    font-weight: bold;
}
.product-div{
    width: 400px;
    margin: 30px;
}
.product-container{
    display: flex;
    flex-wrap: wrap;
}
.product-img{
    width: 400px;
    height: 300px;
}
.navbar{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    flex-direction: row;
    width: 100%;
}

.footercontainer{
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    padding: 0 5%;
}
.footeritem{
    width: 30%;
}
.menu-a{
   margin: 10px;
}

.product-detail-container{
    display: flex;
    margin: 80px 0;
}
.product-display{
    width: 40%;
    margin: 0px 0;
}
.detail-display{
    width: 30%;
}
.text-align{   
    width: 40%;
    padding: 0 5%;
}
.product-detail-img{
    width: 600px;
}     
select{
    width: 100px;
    font-size: 15px;
}
button{
    width: 100px;
    height: 50px;
    background-color: lightgrey;
    border-radius: 30%;
}
.float{
    float: left;
    padding-right: 5px;
}
.NewRelease{
    color: black;
}
.GoiY{
    display: flex;
    margin-left: 0px;
}
.GoiYContent{
    padding: 0 80px 0 0;
    justify-content: space-around;
}
